@import "../abstracts/mixins";
@import "../abstracts/placeholders";
@import "../abstracts/variables";

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  // 1 rem = 10px
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, rgba($color-primary-dark, 0.8), rgba($color-primary-dark, 0.8)),
  url('../image/covers/01 The Emptiness Machine.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
