@import "../abstracts/placeholders";
@import "../abstracts/variables";

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  // 1 rem = 10px
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(4px);
}

.container {
  width: 100%;
  height: calc(100dvh - 7.4rem);
  padding: 1rem 3rem 0 3rem;
  @extend %flex;
  @extend %flex-center;
}

@media only screen and (max-width: 40em) {
html {
  // 1 rem = 9px
  font-size: 56.25%;
}
  .container {
  height: calc(100dvh - 7.4rem);
    }}
