@import "../abstracts/mixins";
@import "../abstracts/placeholders";
@import "../abstracts/variables";

body {
  font-weight: 400;
  font-size: 1.6rem;
}

.artistName {
  color: #F8EDE3;
  font-family: 'Protest Guerrilla', sans-serif;
  letter-spacing: 3px;
  text-shadow: 0 0 5px $color-primary-dark;
}

.songName {
    font-family: Montserrat, sans-serif;
  color: $color-primary-light;
}
